body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.active_class {
  color: blue;
  border-bottom: 1px solid red;
}
.infor {
  position: relative;
  width: 400px;
  height: 100px;
  font-family: Roboto;
  scroll-behavior: auto;
  left: 700px;
  top: 50px;
}

.strip img {
  position: relative;
  width: 1270px;
  height: 140px;
  top: 300px;
}
.videoF {
  position: absolute;
}
.locations {
  background-color: yellowgreen;
  position: relative;
  top: 300px;
  overflow: auto;
}

#he {
  position: relative;
  left: 430px;
  margin-top: 10px;
  top: 20px;
  color: darkmagenta;
}
#all {
  position: relative;
  left: 100px;
  top: 40px;
}
#ap {
  position: relative;
  left: 300px;
}
#bhr {
  position: relative;
  left: 650px;
  top: -40px;
}

#chatt {
  position: relative;
  left: 800px;
  top: -80px;
}
#guj {
  position: relative;
  left: 1050px;
  top: -120px;
}
#kar {
  position: relative;
  left: 190px;
  top: -70px;
}
#mp {
  position: relative;
  left: 450px;
  top: -110px;
}
#pun {
  position: relative;
  left: 750px;
  top: -150px;
}
#wb {
  position: relative;
  left: 990px;
  top: -190px;
}
#usc {
  position: relative;
  left: 500px;
  top: -130px;
}
.locI {
  position: relative;
  left: 750px;
}
