*{
    margin: 0px;
    padding :0px;
    box-sizing: border-box;

}
body{
    background-color:cornsilk;
}

.flexbox{
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 768px;
    overflow: hidden;
    margin: 0 auto;
    padding: 15px;
}

.flexbox .board{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 300px;
    background-color: crimson;
    padding: 15px;
}

.flexbox .board .card {
    padding: 15px 25px;
    background-color: darkgrey;
    cursor: pointer;
    margin-bottom: 15px;
}